CompileFlags:
  CompilationDatabase: >-
    e:\hardware\STM32\32F746GDISCOVERY\en.stm32cubef7-v1-17-1\STM32Cube_FW_F7_V1.17.0\Projects\STM32F769I-Discovery\Templates\MDK-ARM\tmp\Project\STM32F769IDISCOVERYAXIMFLASH
